@font-face {
  font-family: "CircularStdBold";
  src: local("CircularStdBold"), url(./assets/spotify/fonts/CircularStdBold.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}
